/* Custom CSS File
   For Grace Church 2014 Annual Report
   Developed by RG Creative
   http://discoverRG.com

   Hand-Coded with Love by Randy Greene
   @sobecreation
*/

/* REFERENCES
   
   // Primary Colors
      Blue: #0058a9;
      Red: #B61B12;
      Dark Blue: #09355C;
      White: #fff;
      Light Gray: #cbcbcb;
      Dark Gray: #919090;
      Black: #181818;
*/

/* UNIVERSAL RESETS */
	html {
		background: #0058a9;
		background: #0058a9 url('images/pattern_012.png');
		color: #fff;
		font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 16px;
		line-height: 20px;
	}
	body {
		background: transparent;
		padding-left: 20px;
		overflow-x: hidden;
		color: #fff;
		font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 16px;
		line-height: 20px;
	}
	*:focus {
		outline: transparent !important;
	}
	img {
		max-width: 100%;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Roboto Slab', Georgia, serif;
	}
	h1 {
		margin: 0;
		padding: 20px;
		background: #181818;
		background: rgba(0,0,0,.4);
		font-size: 64px;
		text-transform: uppercase;
	}
	h2 {
		max-width: 720px;
		margin: 0 auto 25px auto;
		font-size: 48px;
		font-weight: 700;
		line-height: 1.4;
		text-shadow: 0 0 3px #181818;
	}
	.container {
		width: auto;
		margin: 0 -100%;
		padding: 100px 110%;
		color: #fff;
		text-align: center;
		box-sizing: border-box;
	}
	.row {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.row:first-of-type {
		padding-top: 0;
		padding-bottom: 0;
	}
	.row:last-of-type {
		margin-bottom: 0;
	}
	.row img {
		margin: 20px auto;
	}
	.row.quote {
		background: #fff;
		background: rgba(255,255,255,.4);
		border-radius: 3px;
		color: #181818;
	}
	.row.quote h2 {
		text-shadow: none;
	}

/* Fact Container Styles */
	.fact-container {
		padding: 15px;
	}
	h3 {
		background: #fff;
		background: rgba(255,255,255,.4);
		padding: 20px;
		color: #181818;
		font-weight: 800;
		text-align: left;
		text-transform: uppercase;
	}
	.numbers {
		padding: 15px;
		color: #fff;
		font-family: 'Shadows Into Light Two', cursive;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	span.numbers {
		padding-bottom: 0;
		border-bottom: 2px solid #fff;
	}
	.fact-container .pull-left {
		border-right: 2px solid #fff;
		margin: 0 15px 0 0;
	}
	.fact-container .pull-right {
		border-left: 2px solid #fff;
		margin: 0 0 0 15px;
	}
	.fact-container .full-width {
		width: 100%;
		margin-bottom: 15px;
		border-bottom: 2px solid #fff;
		text-align: center;
	}
	.px48 {
		font-size: 48px;
		line-height: 64px;
	}
	.px64 {
		font-size: 64px;
		line-height: 80px;
	}
	.px80 {
		font-size: 80px;
		line-height: 96px;
	}
	.px96 {
		font-size: 96px;
		line-height: 112px;
	}
	.px112 {
		font-size: 112px;
		line-height: 128px;
	}
	.fact-container p {
		text-align: left;
	}

/* Create responsive video embeds */
	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}

/* For centering text with it's related image */
	.info-text {
		position: relative;
		height: 330px;
	}
	.info-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	.info-wrapper h2 {
		margin-bottom: 0;
	}

/* CAROUSEL STYLES */
	.carousel.slide img {
		margin: 0;
	}

/* INDIVIDUAL SECTION STYLES */

	#intro {
		padding-top: 0;
	}
	#intro .row:first-of-type {
		padding-top: 0;
		padding-bottom: 0;
	}
	#intro img {
		margin: 0 auto;
		max-width: 320px;
	}

	#sundays {
		background-color: rgba(255,255,255,0.9);
		background-image: url('../img/bg-sundays.jpg');
		background-size: cover;
		background-attachment: fixed;
	}

	#holidays {
		background: #181818 url('images/pattern_012.png'); /* Black */
	}

	#volunteers {
		background-color: #181818; /* Black */
		background: url('../img/bg-volunteers.jpg');
		background-size: cover;
		background-attachment: fixed;
	}

	#grace-groups {
		background: #181818 url('images/pattern_012.png'); /* Black */
	}

	#students {
		background-color: #09355C; /* Dark Blue */
		background: url('../img/bg-students.jpg');
		background-size: cover;
		background-attachment: fixed;
	}

	#children {
		background-color: #0058a9; /* Blue */
		background: url('../img/bg-children.jpg');
		background-size: cover;
		background-attachment: fixed;
	}

	#soar {
		background-color: #cbcbcb; /* Blue */
		background: url('../img/bg-soar.jpg');
		background-size: cover;
		background-attachment: fixed;
	}

	#live {
		background-color: #B61B12; /* Red */
		background: url('../img/bg-live.jpg');
		background-size: cover;
		background-attachment: fixed;
	}

	#ownit {
		background: #181818 url('images/pattern_012.png'); /* Black */
	}

	#ui {
		
	}